<!DOCTYPE html>
<html xmlns="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet" />
<title>登録ページ</title>
</head>
<body>
  
  <header>
    <h1>AR-シフト</h1>
    <p>ログインは<a href="/login/">こちら</a></p>
  </header>
  
  <main>
    <h2>ユーザー登録</h2>
    <form method="post" action="/user/regist">
      <p>氏名<input type="text" name="fullName" th:value="${fullName}"></p>
      <p>ユーザー名:<input type="text" name="userName" th:value="${userName}"></p>
      <p>パスワード:<input type="password" name="password"></p>
      <p><input type="submit" value="登録"></p>
      <p class="errMessage" th:text="${errMessage}"></p>
    </form>
  </main>
  
</body>
</html>