<!DOCTYPE html>
<html xmlns="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet" />
<title>ユーザーホーム</title>
<script src="/index.js"></script>
</head>
<body>
  
  <header>
    <h1>AR-シフト</h1>
    <p><a href="/login/">ログアウト</a></p>
  </header>
  
  <main>
    
    <div class="left">
      <h2>メニュー</h2>
      <ul>
        <li><a href="/user/toShiftRequest">シフト提出</a></li>
        <li><a href="">シフト確認</a></li>
        <li><a href="">設定</a></li>
      </ul>
    </div>
    
    <div class="right">
      
    </div>
    
  </main>

</body>
</html>